coverage
dist
docs
examples/fortunejs/public
extension/build
extension/build-test
extension/example/*bundle*
extension/vdl
extension/vanadium.zip
test/vdl-out
node_modules
npm-debug.log
go/pkg
go/bin
xunit.xml
tmp
.idea

# Vanadium
/.v23
