node_modules
logs/
docs/
coverage/
test_out
xunit.xml
bundle.js
extension/extension/background.js
extension/extension/content.js
extension/extension/options.js
extension/example/index.bundle.js
*.map
npm-debug.log
tmp
