/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */


form.settings {
  box-sizing: border-box;
  max-width: 50%;
  min-width: 360px;
  margin: 0 auto;
  padding: 1.125em;
}

form.settings .input {
  border-bottom: 1px solid grey;
}

form.settings .input:first-of-type {
  border-top: 1px solid grey;
}

form.settings label,
form.settings input {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding: 1.125em;
}

form.settings label {
  width: 20%;
  text-align: right;
}

form.settings input.button {
  width: 20%;
}
